<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dzyvd</h1>
    <h1>Bonjour voici votre carte <%= name %> </h1>

    

    <h2>Votre menu il vous reste <%= money %>€</h2> 
     <form action="/votrecarte">
        <% for (var i = 0; i < itemList.length; i++) { %>
            <a href=""><%= itemList[i].name %> <%= itemList[i].prix %></a>
            <br>
        <% } %>
    </form> 

    <% if( age < 18) {%>
        <h2 style="color:red">Vous n'avez pas l'age requis pour commander de l'alcool</h2>  
  <%  } %>

    
    
</body>
</html>

       
